doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,700')
  body
    include topbar
    block content
    script(src='/js/app.js')